<div class="social">
            <a href="{{ links.-649c6b7 }}" target="_blank" class="icon-button w-inline-block"><img src="{{ images.7f1da112.url }}" loading="lazy" alt="{{ images.7f1da112.alt }}"></a>
            <a href="{{ links.-3fc97c93 }}" target="_blank" class="icon-button w-inline-block"><img src="{{ images.-4a3fc8ad.url }}" loading="lazy" alt="{{ images.-4a3fc8ad.alt }}"></a>
            <a href="{{ links.-57c13710 }}" class="icon-button w-inline-block"><img src="{{ images.-3e59428a.url }}" loading="lazy" alt="{{ images.-3e59428a.alt }}"></a>
          </div>